:root {
  --input-gray: #9b9b9b;
}

.input__container {
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  user-select: none;
  position: relative;
  color: white;
  font-family: inherit;
}

.input__input {
  border: 0;
  border-bottom: 2px solid var(--input-gray);
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: white;
  width: 100%;
  font-size: inherit;
}

.input__input:placeholder-shown ~ .input__label {
  cursor: text;
  top: 20px;
}

.input__input::placeholder {
  color: transparent;
}

.input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--input-gray);
  user-select: none;
  font-weight: inherit;
}

.input__input:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image-slice: 1;
}

.input__input:focus ~ .input__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
}

.input__input:required,
.input__input:invalid {
  box-shadow: none;
}
