/* text-2xl absolute right-4 top-3 cursor-pointer font-Jua hover:text-red-500 transition-all */

.modal__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}

.modal__close-button {
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.modal__close-button:hover {
  color: rgb(239, 68, 68);
}
